html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 4rem;
}

p {
	font-family: "Open Sans", serif;
	font-size: 2rem;
	font-style: italic;
}

body {
	margin: 0;
}

.banner {
	position: relative;
	text-align: center;
}

.banner-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.banner img {
	width: 100%;
}

.banner-content h2,
.banner-content p {
	margin: 0;
}
